nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav >ul{
    display: flex;
    list-style: none;
    align-items: center;
   

    
}
body{
    font-family: 'Open Sans', sans-serif;
   /* font-family: 'lato',sans-serif;*/
}
.nav{
    color: black;
    font-size: 40px;
    font-weight: 400;
}
.tp{
    color: orange;
}
nav li{
list-style: none;
margin-right: 50px;

}
nav a{
    text-decoration: none;
    color: aqua;
}
.bp{
    border-radius: 4px;
    background: orange;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight:700;
    padding: 18px 35px;
}