/*header*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
nav >ul{
    display: flex;
    list-style: none;
    align-items: center;
   

    
}

nav li{
    list-style: none;
    margin-right: 50px;
    }
body{
    font-family: 'Open Sans', sans-serif;
   /* font-family: 'lato',sans-serif;*/
}
.head{
    background-color: #fff8f3;
    background-image: url(pexels-rovenimagescom-949587.jpg) ;
    background-repeat: no-repeat;
    background-size: 200px 350px;
    background-position: bottom right;
}
.nav{
    color: black;
    font-size: 40px;
    font-weight: 400;
}
.tp{
    color: orange;
}

nav a{
    text-decoration: none;
    color: aqua;
}
.bp{
    border-radius: 4px;
    background: orange;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight:700;
    padding: 18px 35px;
}
.bannar{
    padding: 30px 100px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bs{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.bt{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
}
.bc{
    max-width: 500px;

}
/*main*/
main{
    max-width: 1000px;
    margin: 0 auto;
}
.section{
    padding: 130px;
    border-radius: 10px;
    background: #fff8f3;
    margin: 130px 0;
}
.st{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.sd{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
.ai-container{
    display: flex;
    justify-content: space-around;

}
.ai{
    text-align: center;
}
#what{
    padding: 30px 150px;
}
